<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../assets/css/css-reset-Normalise.css">
    <link rel="stylesheet" href="../assets/css/template-css.css">

    <title>Template</title>
</head>
<body>
    <div class="parent_grid">
        <!-- navbar -->
        <header class="nav-bar">
            <div class="logo"> <span class="D-styles">D</span> <span class="T-styles">T</span></div>
            <nav class="nav">
                <ul class="nav-links">
                    <li class="nav-link"><a href="#">Home</a></li>
                    <li class="nav-link"><a href="#">About</a></li>
                    <li class="nav-link"><a href="#">Professional</a></li>
                    <li class="nav-link"><a href="#">Studies</a></li>
                    <li class="nav-link"><a href="#">Demos</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <main class="main_grid">This is Main</main>

        <!-- Footer -->
        <footer class="footer-section">This is the footer </footer>

    </div>
</body>
</html>