<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/css/css-reset-Normalise.css">
    <link rel="stylesheet" href="/assets/css/template-hero-1.css">

    <title>Template Hero</title>
</head>
<body>
<div class="parent_grid">
    <!-- navbar -->
    <nav class="nav-bar">
        <div class="logo"> <span class="D-styles">D</span></div>

        <ul class="nav-links">
            <li class="nav-link"><a href="#">Home</a></li>
            <li class="nav-link"><a href="#">About</a></li>
            <li class="nav-link"><a href="#">Professional</a></li>
            <li class="nav-link"><a href="#">Studies</a></li>
            <li class="nav-link"><a href="#">Demos</a></li>
        <!--                <li class="nav-link">-->
        <!--                    <a href="#" class="social-link" aria-label="snapchat">-->
        <!--                        <img src="assets/img/snapchat-ghost.svg" alt="snapchat" class="social-img">-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="nav-link">-->
        <!--                    <a href="#" class="social-link" aria-label="airbnb">-->
        <!--                        <img src="assets/img/airbnb.svg" alt="airbnb" class="social-img">-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="nav-link">-->
        <!--                    <a href="#" class="social-link" aria-label="instagram">-->
        <!--                        <img src="assets/img/instagram.svg" alt="instagram" class="social-img">-->
        <!--                    </a>-->
        <!--                </li>-->
        </ul>
    </nav>

    <!-- Main Section -->
    <main class="main-content">
        <div class="card about-1 stacked">
            <img src="../assets/img/passion%20led%20us%20here.jpg"
                 alt="passion led us here"
                 class="card-image">
            <header>
                <p><a href="#"><span class="card_title">About Me</span></a></p>
            </header>
        </div>

        <div class="card about-2 stacked">
            <img src="../assets/img/passion%20led%20us%20here.jpg"
                 alt="passion led us here"
                 class="card-image">
            <header>
                <p><a href="#"><span class="card_title">About Me</span></a></p>
            </header>
        </div>

        <div class="card about-3 stacked">
            <img src="../assets/img/passion%20led%20us%20here.jpg"
                 alt="passion led us here"
                 class="card-image">
            <header>
                <p><a href="#"><span class="card_title">About Me</span></a></p>
            </header>
        </div>

    </main>

    <footer class="footer">
        <p class="copyright">&copy; Copyright 2022 Nhat-Dat Ngo. All rights reserved.</p>
        <nav class="footer-nav">
            <ul class="footer-nav-links">
                <li class="footer-nav-link"><a href="#">NM Tafe</a></li>
                <li class="footer-nav-link"><a href="#">Link to some where</a></li>
                <li class="footer-nav-link"><a href="#">Link to some where</a></li>
                <li class="footer-nav-link"><a href="#">Link to some where</a></li>
            </ul>
        </nav>

    </footer>


</div>
</body>
</html>